.container {
  margin: 0;
  padding-left: 4px;
  user-select: none;

  a {
    border: none !important;
  }
}

.settingsBtn {
  margin-top: 2px;
  transition: opacity 0.15s ease;

  &:hover {
    opacity: 1 !important;
  }
}
